In [1]:
import pickle

import numpy as np
import pandas as pd

In [2]:
saved_model = pickle.load(open("banana_model.pickle", "rb"))

C:\ProgramData\Anaconda3\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [3]:
reg = saved_model[0]
ordinal_encoder = saved_model[1]
one_hot_encoder = saved_model[2]
feature_name = saved_model[3]
numerical_feature = saved_model[4]
ordinal_feature = saved_model[5]
nominal_feature = saved_model[6]

In [4]:
feature_name

['SOIL TYPE', 'REGION', 'TEMPERATURE', 'WEATHER CONDITION']

In [5]:
SOIL_TYPE = "HUMID"
REGION = "DESERT"
TEMPERATURE = "30-40"
WEATHER_CONDITION = "NORMAL"

In [6]:
incoming_data = pd.DataFrame(
    np.array([[SOIL_TYPE, REGION, TEMPERATURE, WEATHER_CONDITION]]),
    columns=feature_name,
)

incoming_data

  SOIL TYPE  REGION TEMPERATURE WEATHER CONDITION
0     HUMID  DESERT       30-40            NORMAL

In [7]:
print("numerical_feature :", numerical_feature)
print("ordinal_feature :", ordinal_feature)
print("nominal_feature :", nominal_feature)

numerical_feature : []
ordinal_feature : ['SOIL TYPE', 'REGION', 'TEMPERATURE']
nominal_feature : ['WEATHER CONDITION']

### Ordinal Encoding

In [8]:
incoming_data[ordinal_feature] = ordinal_encoder.transform(
    incoming_data[ordinal_feature]
)

### One Hot Encoding

In [9]:
one_hot_feature = one_hot_encoder.categories_[0]

incoming_data[one_hot_feature] = one_hot_encoder.transform(
    incoming_data[nominal_feature]
)
incoming_data.drop(nominal_feature, axis=1, inplace=True)

In [10]:
incoming_data

   SOIL TYPE  REGION  TEMPERATURE  NORMAL  RAINY  SUNNY  WINDY
0        1.0     0.0          2.0     1.0    0.0    0.0    0.0

### Prediction

In [11]:
predicted_target = reg.predict(incoming_data)

In [12]:
predicted_target

array([11.16529508])