In [1]:
import numpy as np
import pandas as pd
import pickle

In [2]:
saved_model = pickle.load(open('heart_disease_model.pickle', 'rb'))

C:\ProgramData\Anaconda3\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [3]:
clf = saved_model[0]
feature_name = saved_model[1]
scaler = saved_model[2]

In [4]:
feature_name

['age',
 'sex',
 'cp',
 'trestbps',
 'chol',
 'fbs',
 'restecg',
 'thalach',
 'exang',
 'oldpeak',
 'slope',
 'ca',
 'thal']

In [5]:
age = 35
sex = 0
cp = 0
trestbps = 138
chol = 183
fbs = 0
restecg = 1
thalach = 182
exang = 0
oldpeak = 1.4
slope = 2
ca = 0
thal = 2

In [6]:
incoming_data = pd.DataFrame(np.array([[age, sex, cp, trestbps, chol, 
                                        fbs, restecg, thalach, exang, 
                                        oldpeak, slope, ca, thal]]), 
                             columns=feature_name)

incoming_data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,35.0,0.0,0.0,138.0,183.0,0.0,1.0,182.0,0.0,1.4,2.0,0.0,2.0

### Feature Scaler

In [7]:
incoming_data_scaled = scaler.transform(incoming_data)

### Prediction

In [8]:
predicted_target = clf.predict(incoming_data_scaled)

In [9]:
predicted_target

array([1], dtype=int64)